/*------------------------------------------------------------------------------
# Padrões do Site ==============================================================
------------------------------------------------------------------------------*/

.tilulo-section {
    font-size: 70px;
}

.texto-section {
    font-size: 25px;
}

.lado-direito {
    text-align: right;   
}




.nav-item{   
    text-align: center;
    border-bottom: 8px solid rgba(0, 0, 0, 0.0);   
    min-width: 80px;
    font-size: 20px;
}

.nav-item:hover{   
    border-bottom: 8px solid rgba(0, 0, 0, 0.7);   
}



/*------------------------------------------------------------------------------
# Barra do Topo ================================================================
------------------------------------------------------------------------------*/
#barratopo {
    background-color:rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    font-size: 14px;
}

.rede-sociais {    
    color: #fff;
}

.rede-sociais:hover {    
    color: #c1c1c1;
}


/*------------------------------------------------------------------------------
# SECTIONS PÁGINA INICIAL ======================================================  
------------------------------------------------------------------------------*/



.bnt-tema{
    font-size: 40px;
    background-color: #3f3a37;
    color: #bdab9d;
}

.bnt-tema:hover{
    color: #bdab9d;
    background-color: #382d2c;
}

.bnt-tema:active{
    color: #bdab9d;
    background-color: #000;
}


/*----------Remove luz azul da classe btn do bootstrap--------------*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}


@font-face {
    font-family: fontBanner;
    src: url(../../recursos/font/contb.ttf);
}

.textoBanner{ 
    color: #5d4c42;
}

/*------------------------------------------------------------------------------
# conteudo =====================================================================
------------------------------------------------------------------------------*/
#inicio {
    background: url("../img/bg.jpg") no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 800px;
}

#sobre {
    background-image: url("../img/bg-repeat1.jpg");    
    background-repeat: repeat;
    background-size: 1000px 1000px;
    min-height: 800px;
    color: #c8b587;

}

#fotos {
    background: url("../img/bg2.jpg") no-repeat;
    background-position: right bottom;
    background-size: cover;
    min-height: 800px;
}


#custo {
    background-image: url("../img/bg-repeat2.jpg");    
    background-repeat: repeat;
    background-size: 1000px 1000px;
    min-height: 800px;
    color: #492926;

}


#palestrantes {
    background: url("../img/bg3.jpg") no-repeat;
    background-position: right bottom;
    background-size: cover;
    min-height: 800px;

}


#programacao{
    background-image: url("../img/bg-repeat2.png");    
    background-repeat: repeat;
    background-size: 1000px 1000px;
    min-height: 800px;
    color: #492926;

}



#body {

}

#conteudo {
    padding: 20px 0 20px 0;
}

/*------------------------- Desabilita selecionar ----------------------------*/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

/*------------------------------------------------------------------------------
# Rodapé =======================================================================
------------------------------------------------------------------------------*/
#rodape {
    background: url("../img/bg-rodape.jpg") 50% 50% no-repeat;
    background-size: cover;
}

#links {
    line-height: 120px;
    height: 300px;
}

#copyright {
    background-color:rgba(0, 0, 0, 0.7);
    height: 50px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

/*-------------------- inverte as cores da imagem ----------------------------*/
.imagemrodape {
    filter: invert(100%);
    margin-top: 20px; 
}

/*---------------- Espaço somente na primeira imagem -------------------------*/
.imagemrodape:first-child{
    margin-right:20px
}

.copyrighttexto {
    padding-top: 12px; 
}




/*------------------------------------------------------------------------------
# DEIXA O RODAPE FIXO NO FIM DA PÁGINA
------------------------------------------------------------------------------*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 350px; /* A mesma altura do Rodapé */
}

#rodape {
    position: absolute;
    width: 100%;
    bottom: 0;
}




